@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

body {
    background-color: rgb(53, 52, 52);
    
}


header{
    
    
    display: flex;
    align-items: center;
    justify-content: center;
    
}

header h1 {
    color: rgb(231, 224, 224);
}

.corpo {
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    margin: auto;
    max-width: 400px;
    gap: 10px;
    padding: 10px;
    border-radius: 10px;
    font-size: 16px;
    
}

.corpo img {
    width: 360px;
    border-radius: 10px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.corpo p {
    text-align: justify;
    padding: 5px;
    margin: 9px;
    line-height: 1.5em;
    font-size: 16px;
}

.gatos {
    border: 2px solid rgb(223, 43, 43);
    border-radius: 10px;
}